<%= @attraction.name %>
<p>Required Tickets: <%= @attraction.tickets %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<%= form_for @ride do |f| %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :attraction_id %>
<%= f.submit "Go on this ride" %>
<% end %>

